{% extends 'main.html' %} {% block content %}
<style>
  td,
  tbody,
  thead,
  table,
  th {
    border: black solid 1px;
  }
</style>
<body>
  <h1>Welcome to Products</h1>
  <hr />
  <table>
    <thead>
      <th>ID</th>
      <th>Project</th>
      <th>Votes</th>
      <th>Vote Ratio</th>
      <th>Created Date</th>
      <th>Update</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <td>{{project.id}}</td>
        <td>
          <a href="{% url 'single-project' project.id %}">{{project.title}}</a>
        </td>
        <td>{{project.vote_total}}</td>
        <td>{{project.vote_ratio}}</td>
        <td>{{project.created}}</td>
        <td>
          <a href="{% url 'update-project' project.id %}">Edit</a>
        </td>
        <td>
          <a href=" {% url 'delete-project' project.id%}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock content %}
